{{ $links := .Site.Params.links }}

<section class="row td-box td-box--height-auto">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Learn and connect</h2>
<p>Using or want to use {{ .Site.Title }}? Find out more here:
{{ with index $links "user"}}
{{ template "community-links-list"  . }}
{{ end }}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Develop and contribute</h2>
<p>If you want to get more involved by contributing to {{ .Site.Title }}, join us here:
{{ with index $links "developer"}}
{{ template "community-links-list"  . }}
{{ end }}
<p>Learn how to become a contributor with our <a href="../contributing/">Contribution Guidelines</a>.
</div>
</section>

<section class="row td-box td-box--2" style="margin-top: -80px">
    <div class="col">
          <h2 class="row justify-content-center">Code samples</h2>
          <br>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="d-flex justify-content-center"><h3>Use and run</h3></div>
            <p>Learn about Knative and get started with a code sample:
            {{ with index $links "usecode"}}
            {{ template "community-links-list"  . }}
            {{ end }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="d-flex justify-content-center"><h3>Share your expertise</h3></div>
            <p>Do you have a Knative code sample that demonstrates a use-case or product
            integration that will help someone learn about Knative?</p>
            <p>Share your knowledge with the community:</p>
            {{ with index $links "sharecode"}}
            {{ template "community-links-list"  . }}
            {{ end }}
          <p><a href="../contributing/contributing">Learn how to contribute...</a>
        </div>
      </div>
  </div>
</section>

{{ define "community-links-list" }}
<ul>
 {{ range . }}
 <li title="{{ .name }}">
   <a {{ if eq .external "true" }}target="_blank" {{ end }}href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}:</a> {{ .desc }}
 </li>
  {{ end }}
</ul>
{{ end }}
