{{ $links := .Site.Params.links }}
<footer class="bg-light py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
        <h6 class="text-white">Knative users</h6>
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
        <h6 class="text-white">Knative developers</h6>
      </div>
      <!-- Override for Knative licensing START -->
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        {{ if .Site.Params.commonsLicense }}<small class="text-white">
          {{ if .Site.Params.knative_license }}
          <p>&copy; {{ now.Year }} {{ .Site.Params.knativeAuthors }} |  <b><a class="text-white" href="{{ .Site.Params.knative_license }}">{{ .Site.Params.knativeLicense }}</a></b> | <b><a class="text-white" href="{{ .Site.Params.privacy_policy }}">{{ .Site.Params.privacyPolicy }}</a></b><br>
          <a class="text-white d-none d-lg-none d-xl-inline" href="{{ .Site.Params.commons_license }}">{{ .Site.Params.commonsLicense }}</a><span class="text-white d-none d-md-none d-lg-none d-xl-inline">, </span><a class="text-white d-none  d-md-none d-lg-none d-xl-inline" href="{{ .Site.Params.apache_license }}">{{ .Site.Params.apacheLicense }}</a></p>
          {{ end }}
        </small>
        {{ end }}
      </div>
      <!-- END -->
    </div>
  </div>
</footer>
{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h4" data-toggle="tooltip" data-placement="top" title="{{ .name }}">
    <a class="text-white" target="_blank" href="{{ .url }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}

<!-- Cookie Consent modal-->
<div id="cookieModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <!-- <div class="modal-header">
        <p class="modal-title"></p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <p>We use cookies to track visits to our website, we store no personal details. By staying on the site you consent to our cookie policy.</p>
        <button type="button" class="btn btn-sm btn-secondary mr-3 mb-4" onclick="acceptcookie()">Accept</button>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-sm mr-3 mb-4">Opt Out</a>
      </div>
      <div id="opt-out" class="modal-body">
        <p>This website uses Google Analytics, to improve your experience. ADD TEXT HERE. See the <a href="https://www.google.com/policies/privacy/" target="_blank">Google's Privacy Policy</a> to understand how the data is handled.</p>
        <p><b>Opt out</b> You can opt out of Google Analytics if you disable or refuse the cookie, disable JavaScript, or <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">use the opt-out service provided by Google</a>.</p>
      </div>
      
      
    </div>
  </div>
</div>
