{{/* In page TOC for landing pages (_index.md/.html) that exclude "readfile". */}}
{{ if not (.HasShortcode "readfile") }}
<div>
  <div >
    {{ template "inpage-toc" (dict "page" . "section" .CurrentSection) }}
  </div>
</div>
{{ end }}
{{ define "inpage-toc" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $active := eq $p.CurrentSection $s }}
{{ if not $active }}<ul class="td-sidebar-nav__section" style="margin-bottom: 0">
  <li style="list-style: none">
    <a  href="{{ $s.RelPermalink }}">{{ $s.LinkTitle }}</a>
  </li>
  <ul class="td-sidebar-link__sections">{{ end }}
      {{ $pages := (union $s.Pages $s.Sections).ByWeight }}
      {{ range $pages }}
      {{ if .IsPage }}
    <li style="list-style: none">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ else }}
      {{ template "inpage-toc" (dict "page" $p "section" . ) }}
      {{ end }}
    </li>
      {{ end }}
  </ul>
{{ if not $active }}</ul>{{ end }}
{{ end }}
