
{{ $master := .Site.Params.masterfolder }}
{{ if .Path }}
  {{ $pageSection := .Page.Section }}
  {{ $.Scratch.Set "filepath" .Path }}
  {{ $.Scratch.Set "gh_branch" ($.Param "latest_github_branch") }}
  {{ $gh_repo := ($.Param "github_repo") }}

  {{/* Better to open to the README.md in github repo */}}
  {{ if eq (printf "%s" .File) "_index" }}
    {{ $.Scratch.Set "filepath" (replace (printf "%s" .Path) "_index" "README") }}
  {{ end }}

  {{/* Replace all site paths for the docs versions to just 'docs' */}}
  {{ if in $pageSection "docs" }}
    {{ $.Scratch.Set "filepath" (replaceRE "v[0-9].[0-9]-docs" "docs" (printf "%s" ($.Scratch.Get "filepath"))) }}
  {{ end }}
  {{ if eq $pageSection $master }}
   {{ $.Scratch.Set "filepath" (replaceRE (printf "%s" $master) "docs" (printf "%s" ($.Scratch.Get "filepath"))) }}
  {{ end }}

  {{/* Find the github branch for the corresponding docs version otherwise set to master */}}
  {{ if in $pageSection "docs" }}
    {{ range .Site.Params.versions }}
      {{ if eq $pageSection .dirpath }}
        {{ $.Scratch.Set "gh_branch" .ghbranchname }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $.Scratch.Set "gh_branch" "master" }}
  {{ end }}

  {{ if $gh_repo }}
    {{ if ne $pageSection "blog" }}
    <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
    {{ $editURL := printf "%s/edit/%s/%s" $gh_repo ($.Scratch.Get "gh_branch") ($.Scratch.Get "filepath") }}
    {{ $issuesURL := printf "%s/issues/new?title=%s(%s)&labels=kind%2Fbug&template=bug-in-existing-docs.md" $gh_repo (htmlEscape $.Title) (htmlEscape $.Path)}}
    <a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
    <a href="{{ $issuesURL }}" target="_blank"><i class="fab fa-github fa-fw"></i> {{ T "post_create_issue" }}</a>
    </div>
  {{ end }}

  {{ end }}
{{ end }}
